<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Change Password</h3>
    <form #f="ngForm" (ngSubmit)="changePassword()">

      <div class="form-group">
        <label for="resetPassword">New Password</label>
        <input type="password" name="Password" [(ngModel)]="model.password" required #email="ngModel"
          class="form-control" id="resetPassword" placeholder="New password" />
      </div>

      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Change Password <i
          class="fas fa-save"></i></button>
    </form>
  </div>
</div>