@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.bodyImg {
  background: url("assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid $success;
}

.ng-invalid:not(form) {
  border-left: 5px solid $danger;
}

button[type="submit"]:disabled {
  cursor: no-drop;
}

.headerNav li {
  cursor: pointer;
}